name: Task CI/CD Pipeline

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build JAR
        working-directory: .
        run: mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          file: ./Dockerfile
          tags: briankimathi/note-keeper:${{ github.sha }}
          push: true

      - name: Updating image tag inside manifest files
        run: |
          pip install yq
          yq -Yi '.spec.template.spec.containers[0].image = "briankimathi/note-keeper:'${GITHUB_SHA}'"' ./manifests/app/deployment.yaml

      - name: Commit and Push the code
        run: |
          git config user.name "Brian Kimathi"
          git config user.email "kimathibrian71@gmail.com"
          git add manifests/app/deployment.yaml
          git commit -m "Updating image tag inside manifest using actions"
          git push origin main
